* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(0, #4b6cb7, #182848);
}

main {
    width: 90%;
    max-width: 900px;
    margin: 32px auto;
    max-height: auto;
}

